@page "/CreatWar"
@inject IWar _war
@inject NavigationManager NavManager


<EditForm Model="@_warr" OnValidSubmit="CreateWar">
    <h3>Creat War</h3>
    <div class="form-control">
        Age <input type="text" @bind="_warr.ID" />
    </div>
    <div class="form-control">
        Name <input type="text" @bind="_warr.Name" />
    </div>

    <button type="submit">Creat War</button>


</EditForm>




@code {
   
    War _warr = new War();
    // here we need a create method
    public void CreateWar()
    {
        //console app here I come...!!
        _war.Add(_warr);
    }

}
