@page "/testCreate"
@inject IHorse _horse
@inject NavigationManager NavManager
<h3>CreateHorse</h3>

<EditForm Model="@horse" OnValidSubmit="CreateHorse">
    <div class="form-control">
        id <input type="text" @bind="horse.Id" />
    </div>
    <div class="form-control">
        Name <input type="text" @bind="horse.Name" />
    </div>
    <div class="form-control">
        age <input type="text" @bind="horse.Age" />
    </div>
    <button type="submit">Create Horsies</button>
    
</EditForm>
<button @onclick="Back">BackTOList</button>


@code {
    public void Back()
    {
        // navigate back to another page - NavManager....
        NavManager.NavigateTo("/test");
    }

    // maybe need an object with all the data
    Horse horse = new Horse();
    // here we need a create method
    public void CreateHorse()
    {
        //console app here I come...!!
        _horse.Add(horse);
    }
    // we can make a navigate back button
}
