@page "/Wars"
@inject IWar _war

<h3>warrr</h3>



<table>
    <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            
        </tr>
    </thead>
    <tbody>

        @foreach (var war in WarList)
        {
            <tr>
                <td>@war.ID</td>
                <td>@war.Name</td>
                
                <td>
                    @* <a href="testUpdate/@samurai.ID">Update</a> |*@
                    <button @onclick="()=>WarDelete(war)">Delete</button>
                </td>
            </tr>

        }

    </tbody>
</table>

@code {
   
 
    List<War> WarList = new List<War>();
    protected override void OnInitialized()
    { // this is the first method to be run
      // I want to load in data from repo. Place it in a variable

       WarList = _war.GetAll();
    }
    public void WarDelete(War war)
    {
        // I want to delete the horse - how do I do it?
        _war.Delete(war.ID);
        // If I want to update my page, I have to Navigate to this url again
        StateHasChanged();
    }
}